*.o
/.cache
/.deps
/MODULE.bazel.lock
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/bazel-*
/build
/coloring
/coloring-sysmalloc
/config.log
/config.status
/configure
/depcomp
/install-sh
/knight-path
/knight-path-stack
/knight-path-sysmalloc
/missing
/suffix-avl
/suffix-avl-persistent
/suffix-avl-persistent-sysmalloc
/suffix-avl-sysmalloc
/suffix-btree
/suffix-btree-persistent
/suffix-btree-persistent-sysmalloc
/suffix-btree-sysmalloc
/suffix-critbit-tree
/suffix-critbit-tree-sysmalloc
/suffix-map
/suffix-map-sysmalloc
/suffix-trie
/suffix-trie-sysmalloc
/trigram-index
/trigram-index-sysmalloc
